<!-- 
  Documentation:
  Return an email, password and submit,
  input data by iu.
-->

<form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="container">
  <mat-form-field class="item">
    <input matInput type="email" placeholder="Email"  formControlName="email" >
  </mat-form-field>
  <mat-form-field class="item">
    <input matInput type="password" placeholder="Password"  formControlName="password" >
  </mat-form-field>    
  <button mat-button type="submit" class="item" mat-raised-button color="primary">Sing in</button>
  <div *ngIf = "show" class="container-show"> 
    <p class="text-show" >
      {{ message }}
    </p > 
  </div >
</form>