.container-main{
    display: flex;
    flex-direction: row;
    margin-block-end: 10%;
}
    .content-text{
        flex-basis: auto;
        flex-basis: 50%;
        margin-top: 5%;
        margin-left: 5%;
        margin-right: 5%;
    }
        
    .item{
        margin-top: 8%;
        
    }

.content-loger{
    margin-top: 8%;
}    
    
.content-buttons-1{    
    display: flex;    
    justify-content: space-between;

}   
    .btn-social{
        margin-top: 5%;
        width: 150px;    
        
    }   

    .content-buttons-2{
        display: flex;
        
        justify-content: space-between;
    }    

        .ion-icon {
            font-size : 16px ;
        }
