<!-- 
  Documentation:
  return the tables value obtained for app-form-login.
  sign-in registration form and buttons linked to social networks
-->
<div class="container">
  <mat-tab-group class="container-login">
    <mat-tab label="Sign in">
      <app-form-login></app-form-login>
    </mat-tab>
    <mat-tab label="Sing up">
      <app-form-register></app-form-register>
    </mat-tab>
  </mat-tab-group>

  <div class="content-buttons-redes-sociales">
    <P>Sign in with</P>
    <div class="content-butons">
      <button mat-button mat-raised-button color="" class="btn-social"> 
        <ion-icon name="logo-facebook" src="assets/images/icons/facebook.svg" class="ion-icon"></ion-icon>
          Facebook
      </button>
      <button mat-button mat-raised-button color="" class="btn-social"> 
        <ion-icon name="logo-github" class="ion-icon"></ion-icon>
          GitHub
      </button>
      <button mat-button mat-raised-button color="" class="btn-social"> 
        <ion-icon name="logo-google" src="assets/images/icons/google.svg" class="ion-icon"></ion-icon>
          Google
      </button>
      <button mat-button mat-raised-button color=""  class="btn-social"> 
        <ion-icon name="logo-twitter" src="assets/images/icons/twitter.svg" class="ion-icon"></ion-icon>
          Twiter
      </button>
    </div>
  </div>
</div>