<!-- 
  Documentation:
  Return an email, first_name, last_name, password, phone and submit,
  input data by iu.
-->

<form [formGroup]="resgisterAccount" (ngSubmit)="onSubmit()" class="container">
  <mat-form-field >
    <input matInput placeholder="Email"  formControlName="email">
  </mat-form-field>
  <mat-form-field >
    <input matInput placeholder="First name"  formControlName="first_name">
  </mat-form-field>
  <mat-form-field >
    <input matInput placeholder="Last name"  formControlName="last_name">
  </mat-form-field>
  <mat-form-field >
    <input matInput placeholder="Password" type="password" formControlName="password">
  </mat-form-field>
  <mat-form-field >
  <input matInput placeholder="Phone"  formControlName="phone">
  </mat-form-field>
  <button mat-button type="submit" class="buttton-submit" mat-raised-button color="primary" >Register</button>
  <div *ngIf = "show" class="container-show"> 
    <p class="text-show" >
      {{ itemCount }}
    </p > 
  </div >
</form>