<div class="hero-container">
    <h1 class="title">a full assistance toolchain</h1>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
        sed eiusmod tempor incidunt ut labore et dolore magna aliqua. 
        Ut enim ad minim veniam, quis nostrud exercitation ullamco 
        laboris nisi ut aliquid ex ea commodi consequat. Quis aute iure reprehenderit
        in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
        Excepteur sint obcaecat cupiditat non proident, sunt in culpa qui 
        officia deserunt mollit anim id 
    </p>
    <div>
      <button mat-raised-button color="primary">Try Account for free</button> 
    </div>
    <mat-card class="example-card">
        <!-- <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
        </mat-card-header> -->
        <img mat-card-image src="attendance.jpg" alt="image">
    </mat-card>
</div>
