//menu home
.containerHeader {
    display: flex;
    justify-content: space-between;
    background-color: rgb(9, 9, 75);
    color: white;
}

.logo {
    width: 86px;
}

.logo mat-icon {
    font-size : 30px ;
    margin-right: 8px
}

//menu account
.container{
    display: flex;
    flex-direction: column;
    
    height: 100%;
}
.menu-user{
    margin-right: 4%;
    max-height: 30px;
}
.ion-icon{
    font-size: 32px;
}

.menu{
    margin-left: 80%;
}