//menu home
.headerHome{
    display: flex;
    justify-content: space-between;
    position: fixed;
}

// button{
//     box-shadow: none;
// }

button:hover{
    box-shadow: 0 0 30px cyan;
    // transition: all 0.8s
    transition: box-shadow 0.7s linear 0s;
}

// button{
    // transition: all 1s
// }

//menu account
.headerAccount{
    display: flex;
    justify-content: space-between;
    position: fixed;
}
.ion-icon{
    font-size: 32px;
}