<div class="containerHeader">
    <button mat-icon-button class="logo" routerLink="/home">
      <mat-icon class="icon-logo">account_box</mat-icon>Account
    </button>

    <div class="menu-home-header">
      <button mat-button >Product</button>
      
      <button mat-button >Pricing</button>
      
      <button mat-button >Resources</button>
      
      <button mat-button >Blog</button>
      
      <button mat-button >Suport</button>
      
      <button mat-icon-button >
        <mat-icon>search</mat-icon>
      </button>

      <button mat-button >Explore</button>
      
      <button mat-button routerLink="/login">Sign in / Register</button>
    </div>
</div>