<mat-toolbar mat-raised-button color="primary" class="content">
  Account
  <button mat-button [matMenuTriggerFor]="menu2" class="menu">
      <ion-icon name="help-circle" class="ion-icon"></ion-icon>
      <ion-icon name="arrow-dropdown"></ion-icon>
  </button>
  <mat-menu #menu2="matMenu">
    <button mat-menu-item>Support</button>
    <button mat-menu-item>Call center</button>
  </mat-menu>
  <button mat-button [matMenuTriggerFor]="menu" class="menu-user">
      <ion-icon name="radio-button-off" src="assets/images/icons/user3.svg" class="ion-icon"></ion-icon>
      <ion-icon name="arrow-dropdown"></ion-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>User</button>
    <button mat-menu-item>Set status</button>
    <button mat-menu-item>Profile</button>
    <button mat-menu-item>Settings</button>
    <button mat-menu-item routerLink="/home">Sign out</button>
  </mat-menu>
</mat-toolbar>

<div class="item">
      
</div>
